<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roottools.shuttersound">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />

    <application
        android:label="GCam Custom Shutter"
        android:hasCode="true"
        android:allowBackup="false">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Replaces the Google Camera shutter sound with a custom clip." />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposedscope" />
    </application>
</manifest>
